<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/">Home</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="/courses" class="nav-link">Courses</a>
            </li>
            <% if (typeof isAuthenticated !== 'undefined' && isAuthenticated){ %>
                <li class="nav-item">
                    <a href="/admin/courses" class="nav-link">Admin Courses</a>
                </li>
                <li class="nav-item">
                    <a href="/admin/categories" class="nav-link">Admin Categories</a>
                </li>
            <% } %>
        </ul>
        <ul class="navbar-nav">
            <% if (typeof isAuthenticated !== 'undefined' && isAuthenticated){ %>
                <li class="nav-item">
                    <a href="/account/logout" class="nav-link">Sign out</a>
                </li>
            <% }else { %>
                <!--Sign out link-->
                <li class="nav-item">
                    <a href="/account/login" class="nav-link">Sign in</a>
                </li>
            <% } %>
        </ul>
    </div>
</nav>
